[filter "lfs"]
  
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]

	name = Ewhan
	email = ewhan.han@gmail.com
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChiR1yO/1NWj1X/9jSggbPkURRYXEbCA6OO9rUkbEJ+smcoBSPDzq0+dRs9+6rksqAwgROuT0iLIxXYEDUUzlTcslQQECm8lZWnyw4umxpZ/E+xmcjqomcVGC85cZBQNQf7rDaXPqtNgzsF1D/bQK49leMfDJe1BJK07CN4oVrtj0tWydmGo1zJC4QW1QcYcS+59ew1hmZnvMf90DXeTC+aHZ3qSK/7e102RSt8QLBF0ggKCKLArc5GaXNVQ9FyjL8wvuafq/mYQXyfb9Pi/Q4PjF4gqVtCYK/599tBNhkVwaLe9unIQyjHG2Byk+lckdgLxA5dYLr0WzCUnMNpKCATTvDJ1iBye4NQpIFs6rWoQC0prHMDwE4C8eOdKG434L9ofjKHqMiBc1zH5G9AzYnAPT8x4ObK9sgIL01VeCVqUo5481+0+HfWKVjClvlwbLetQ1fCwNVuATwdBhu7FI6EJ6hvWlEvsixMkm2XnlgUZ3/Xmi/7If2Rf6EjilovwAhA0Os3ub4YvFj96J/pJQhNW2ilD9J/zl/A837aoLPpi8mh/a9C5lwNXvNbcTcQE7ZFb/FJq8X1YqDPaCYaWWcJeOMGQwnx0TFTMDZTaS+bzCDjmqEg+97zCpFs4psXIwIm8MMY/rQveGhTpyc54Znfc7rbxu08CqnhRKilrEukQ==

[apply]

	# Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]

	# Show most recently changed branches first.
	sort = -committerdate

[core]

	# Use custom `.gitignore` and `.gitattributes`.
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes

	# Treat spaces before tabs and all kinds of trailing whitespace as an error.
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	editor = code --wait

	ignorecase = false

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[init]

	defaultBranch = main

[help]

	# Automatically correct and execute mistyped commands.
	autocorrect = 1

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true
	tool = code
	
[pull]

	rebase = true

[include]

	path = ~/.gitalias.txt

[diff]

  tool = default-difftool

[difftool "default-difftool"]

  cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "code"]

  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
