[user]
	name = Ewhan Han
	email = ewhan.han@gmail.com
[core]
	excludesfile = /Users/ewhanhan/.gitignore
[include]
	path = /Users/ewhanhan/.gitalias.txt
[init]
	defaultBranch = main
[color]
  # Enable colors in color-supporting terminals
  ui = auto
